<div class="panel-header panel-header-sm">
</div>
<div class="main-content">
    <div class="row">
        <div class="col-12">
            <span>Soal 1</span>
        </div>
        <div class="col-12">
            <mat-form-field class="example-full-width" appearance="outline">
                <input matInput [(ngModel)]="hasil1">
            </mat-form-field>
        </div>
        <div class="col-1">
            <button mat-raised-button (click)=count(hasil1)>Button</button>
        </div>
        <div class="col-6">
            <span>{{ v1 }}</span>
        </div>
        <div class="col-12" style="padding-top: 30px;">
            <span>Soal 2</span>
        </div>
        <div class="col-12">
            <mat-form-field class="example-full-width" appearance="outline">
                <input matInput [(ngModel)]="hasil2">
            </mat-form-field>
        </div>
        <div class="col-1">
            <button mat-raised-button (click)=strain(hasil2)>Button</button>
        </div>
        <div class="col-6">
            <span>{{ v2 }}</span>
        </div>
    </div>
</div>